*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: black;
}
h1,h4,p,a{
  color:white;
  text-decoration: none !important;
}

a:hover{
  color: rgba(212, 126, 28, 0.824);
}

ul{
  list-style-type: none;
}
.btn{
    background: #f1ab20;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important;
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn-white{
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: transparent !important;
  color: #fff !important;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  color: white !important;
  background: transparent !important;
  transition: 0.33s;
}
.btn-white:hover{
  color: black !important;
  background:#f1ab20 !important ;
  transition: 0.33s;
}